# API ключи
NEWSAPI_KEY=your_news_api_key_here

# MongoDB
MONGODB_URI=mongodb://mongo:27017
DATABASE_NAME=stocks_db
DATABASE_COLLECTION=stocks

# Redis
REDIS_URI=redis://redis:6379
REDIS_DB=0

# Настройки сервера
PORT=8080
HOST=0.0.0.0
TIMEOUT_SECONDS=30
LOG_LEVEL=info
ENVIRONMENT=development 